#sec3{
    width: 100%;
    background: black;
    height: 500px;
    color: #fff;
    display: flex   ;
    margin-top: 10px;
}
#sec3left{
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 40px;
}
#sec3left img{
    width: 505px;
    height: 379px;
    margin-left: 110px;

}
#sec3right{
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
}
#sec3right h1{
    margin-top: 200px;
    margin-left: 63px;
}
#sec3right h3{
    margin-top: 10px;
    margin-left: 63px;
}