#mainDiv{
    height: 735px;
    color: #fff;
    background-color: #111;
    
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5dd45df7-33f1-4274-97ea-e9c6aca69dad/ed1cb962-411d-4e43-bad2-33f07ae8e341/IN-en-20211108-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
}
#section1{
    width: 65%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#mainDiv::after{
    content: '';
    background-color: #000;
   position: absolute;
    opacity: 0.3;
    z-index: 1;
}
#mainDiv h1{
    font-size: 4rem;
    max-width: 940px;
    margin: 0 auto;
}
#mainDiv h2{
    font-size: 2.125rem;
}
#mainDiv h4{
    font-size: 1.125rem;
}
#section1 span input{
    width: 70%;
    height: 58px;
    margin: 0px auto;
    font-size: 1em;
}
#search1{
    width: 700px;
    height: 58px;
}
#section1 span button{
    width: 30%;
    height: 58px;
    margin: 0px auto;
    background: #e50914;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

